.large-hero {
	position: relative;
	display: block;

	&__text-content {
		position: absolute;
		top:30%;
		transform: translateY(-50%);
		left:0;
		width: 100%;
		text-align: center;
	}

	&__img {
			background: url('../../assets/images/large--hero.jpg') ;
		    width: 100%;
    		height: 70rem;
    		position: relative;	
	}

	&__dark {
		width: 100%;
		height: 38rem;
		background-color: black;
		z-index: 300;
		position: absolute;
		background: url('../../assets/images/large--hero.jpg') ;
		
    		

	}
	
	

	
}




