.page-section {
	padding: .5rem 0 ;
	position: relative;

	@mixin atSmall {
		padding: 4.5rem 0 ;

		&__no-b-padding{
		padding: 2.5rem 0 0 0 ; 
	}

	}



	&__team {
		/*background: #43443e;*/
		background-color: #2f5572;
	

	}


	&__black {
		background-color: black;
	}

	&__picture-service {
		background: url('../../assets/images/team-background.jpg') top center no-repeat;
		background-size: cover;
	}

	
}